.toast.show {
	visibility: visible;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
